{% extends 'base.html' %}
{% block content %}
        <h4>Add students in your class</h4>
        {% if forms and classname %}
                <form action="{% url 'stu_cred' classname=classname %}" method="post">
                        {% csrf_token %}
                        {{forms}}
                        <button type="submit">Submit</button>
                </form>
        {% endif %}

        {% if content %}
                {% for con in content %}
                        {{con}}
                {% endfor %}
        {% endif %}
{% endblock %}