{% extends 'base.html' %}
{% block content %}
        <center>
        {% if emessage %}
            {{emessage}}
        {% endif %}
        <h4>Add students to your class</h4>
        {% if forms and classname %}
                <form action="{% url 'stu_cred' classname=classname %}" method="post">
                        {% csrf_token %}
                        {{forms}}
                        <button type="submit">Submit</button>
                </form>
        {% endif %}
    </center>
<style>
    table,td {
        border: 1px solid rgb(0, 0, 0);
        text-align: center;
        width: 250px;
    }

    th{
        border: 2px solid black;
        background-color: lightskyblue;
        text-align: center;
        width: 250px;
    }
</style>
    <br><br>
    <center>
        {% if students %}
            <table style="width:fit-content">
                <tr>
                    <th>Roll Number</th>
                    <th>USN</th>
                    <th>Student Name</th>
                </tr>
                {% for student in students %}
                    <tr>
                        {% for i in student%}
                            <td>{{i}}</td>
                        {% endfor %}
                    </tr>    
                {% endfor %}
            </table>
        {% endif %}
        </center>
{% endblock %}