{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger alert-dismissible fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ message }}
    </div>
    {% endfor %}
{% endif %}



<h3>Choose Semester</h3>
<form action="{% url 'take_class_vals' %}" method="post">
    {% csrf_token %}
    {{form1.SEMS}}
    <h3>Choose a Section</h3>
    {{form2.SEC}}
    <h3>Subject</h3>
    {{form3.SUB}}
    <button type="submit">Submit</button>
</form>
{% endblock %}