{% extends 'base.html' %}

{% block content %}
<style>
    table,td {
        border: 1px solid rgb(0, 0, 0);
        text-align: center;
        width: 250px;
    }

    th{
        border: 2px solid black;
        background-color: lightskyblue;
        text-align: center;
        width: 250px;
    }
</style>
    <center>
        <input type="date" name="date">
        <br><br>
        {% if students %}
            <table style="width:fit-content">
                <tr>
                    <th>Roll Number</th>
                    <th>USN</th>
                    <th>Student Name</th>
                    <th>Attendance Status</th>
                </tr>
                {% for student in students %}
                    <tr>
                        {% for i in student%}
                            <td>{{i}}</td>
                        {% endfor %}
                        <td>
                            <input type="radio" id="present" name=student value="present">
                            <label for="present">P</label>
                            <input type="radio" id="absent" name=student value="absent">
                            <label for="absent">A</label>
                        </td>
                    </tr>    
                {% endfor %}
            </table>
        {% endif %}
    </center>
{% endblock %}