<html>
<body>
<h1>Signup</h1>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% if form.errors %}
    <div class="alert alert-danger alert-dismissible fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Error!</strong> There was an error with your form.
        {% if form.errors %}
        <div id="errors">
            <div class="inner">
                {{ form.non_field_errors }}
                <ul>
                    {% for field in form %}
                        {% if field.errors %}<li>{{ field.errors|striptags }}
                            {% if field.errors|striptags == 'A user with that username already exists.' %}<a href="{% url 'login_user' %}">Login</a> instead?</li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
    </div>
{% endif %}
<form action = "{% url 'register' %}" method='post'>
    {% csrf_token %}
    <br>
        {% for field in form %}
        <div class="fieldWrapper">
            {{ field.label_tag }}: {{ field }}
        </div>
{% endfor %}
    <button type="submit">Signup</button>
    </body>
</html>